[Unit]
Description=uWSGI instance to serve flash_cards
After=network.target

[Service]
User=yangsaerohoon

WorkingDirectory=/Users/saerohoonyang/workspace/computer-science-flash-cards
Environment="PATH=/Users/saerohoonyang/workspace/computer-science-flash-cards/flashcardenv/bin"
Environment="CARDS_SETTINGS=/Users/saerohoonyang/workspace2/computer-science-flash-cards/config-personal.txt"
ExecStart=/Users/saerohoonyang/workspace2/computer-science-flash-cards/flashcardenv/bin/uwsgi --ini flash_cards.ini

[Install]
WantedBy=multi-user.target